.calender {
    height: 100vh;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(7, 0.5fr);
    grid-template: "day1 day2 day3 day4 day5 day6 day7"
        "day8 day9 day10 day11 day12 day13 day14"
        "day15 day16 day17 day18 day19 day20 day21"
        "day22 day23 day24 day25 day26 day27 day28"
        "day29 day30 day31 day32 day33 day34 day35";
}

.day1 {
    border: 1px solid blueviolet;
    grid-area: day1;
    border-radius: 10px;
}

.day2 {
    border: 1px solid blueviolet;
    grid-area: day2;
}

.day3 {
    border: 1px solid blueviolet;
    grid-area: day3;
}

.day4 {
    border: 1px solid blueviolet;
    grid-area: day4;
}

.day5 {
    border: 1px solid blueviolet;
    grid-area: day5;
}

.day6 {
    border: 1px solid blueviolet;
    grid-area: day6;
}

.day7 {
    border: 1px solid blueviolet;
    grid-area: day7;
}

.day8 {
    border: 1px solid blueviolet;
    grid-area: day8;
}

.day9 {
    border: 1px solid blueviolet;
    grid-area: day9;
}

.day10 {
    border: 1px solid blueviolet;
    grid-area: day10;
}

.day11 {
    border: 1px solid blueviolet;
    grid-area: day11;
}

.day12 {
    border: 1px solid blueviolet;
    grid-area: day12;
}

.day13 {
    border: 1px solid blueviolet;
    grid-area: day13;
}

.day14 {
    border: 1px solid blueviolet;
    grid-area: day14;
}

.day15 {
    border: 1px solid blueviolet;
    grid-area: day15;
}

.day16 {
    border: 1px solid blueviolet;
    grid-area: day16;
}

.day17 {
    border: 1px solid blueviolet;
    grid-area: day17;
}

.day18 {
    border: 1px solid blueviolet;
    grid-area: day18;
}

.day19 {
    border: 1px solid blueviolet;
    grid-area: day19;
}

.day20 {
    border: 1px solid blueviolet;
    grid-area: day20;
}

.day21 {
    border: 1px solid blueviolet;
    grid-area: day21;
}

.day22 {
    border: 1px solid blueviolet;
    grid-area: day22;
}

.day23 {
    border: 1px solid blueviolet;
    grid-area: day23;
}

.day24 {
    border: 1px solid blueviolet;
    grid-area: day24;
}

.day25 {
    border: 1px solid blueviolet;
    grid-area: day25;
}

.day26 {
    border: 1px solid blueviolet;
    grid-area: day26;
}

.day27 {
    border: 1px solid blueviolet;
    grid-area: day27;
    /* justify-content: center;
    display: flex; */
}

.day28 {
    border: 1px solid blueviolet;
    grid-area: day28;
}

.day29 {
    border: 1px solid blueviolet;
    grid-area: day29;
}

.day30 {
    border: 1px solid blueviolet;
    grid-area: day30;
}

.day31 {
    border: 1px solid blueviolet;
    grid-area: day31;
}

.day32 {
    border: 1px solid blueviolet;
    grid-area: day32;
    display: none;
}

.day33 {
    border: 1px solid blueviolet;
    grid-area: day33;
    display: none;
}

.day34 {
    border: 1px solid blueviolet;
    grid-area: day34;
    display: none;
}

.day35 {
    border: 1px solid blueviolet;
    grid-area: day35;
    display: none;
}