.container {
    text-align: center;
}

.day {
    display: grid;
    grid-template-columns: repeat(7, 0.5fr);
    gap: px;
    border: 2px solid gray;
    padding: 1px;
}

.date {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}