#overlay{
  width: 70%;
  height: 100vh;
  background-color: darkgoldenrod;
}

#container{
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: white;
  display: none;
}

#close{
  height: 100%;
}