*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}

nav{
    
    background-color: #111;
    justify-content: space-between;
    display: flex;
    color: white;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}

nav a{
    color:aqua;
    text-decoration: none;
}

form{
    border:1px solid #ddd;
    border-radius: 10px;
    padding: 16px;
    margin: 16px;
}