body {
    font-family: sans-serif;
    background-image: url(/Doc/bg.jpg);
    background-position: center;
    background-attachment: fixed;
    height: auto;
    padding: 0px;
    margin: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

}

/*Logo text*/
.logo {
    font-family: 'Courier New', monospace;
    background-color: #111;
    color: #00ff88;
    font-weight: bold;
    padding: 10px 5px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    /* border: 1.5px solid rgb(72, 206, 230); */
}

.logo .before {
    color: #00ffff;
}

.link {
    display: flex;
}

.navbar a {
    padding: 10px 6px;
    text-decoration: none;
    color: darkslategray;
    font-size: 16px;
    font-weight: bold;
    /* background: rgb(36, 32, 30); */
    border-radius: 5px;
    margin: 3px;
    /* border: 1.7px solid rgb(72, 206, 230); */
}

.navbar a:hover {
    color: tomato;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    gap: 100px;
    color: rgb(66, 53, 46);
}

.profile {
    width: 100%;
    border-radius: 15%;
    margin: 0px;
    /* padding: 0%; */
}

h1 span {
    color: rgb(72, 206, 230);
    font-size: 45px;
}

.info h1{
    margin-bottom: -10px;
}